ion-card {
    ion-card-title {
      color: #5271ff; // El código de color en hexadecimal para tu color deseado
    }
  }
  ion-item {
    --border-color: #5271ff; /* Color de las líneas horizontales */
  }
  ion-item {
    --ion-item-after-color: #5271ff; /* Cambia el color de las flechas */
  }
  
      